*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(207, 175, 236);
}
.container {
  margin: 8rem auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  padding: 2rem;
  border-radius: 10px;
}
h1,
input,
.result {
  margin-top: 1rem;
}
input,
select {
  margin-top: 2rem;
  padding: 5px;
  border: 1px solid black;
  font-size: 20px;
  color: black;
}
#submit {
  border: none;
  outline: none;
  background-color: orangered;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 8px;
  margin: 1.4rem 9rem;
  cursor: pointer;
}
.final {
  text-align: center;
  font-size: 22px;
  color: red;
  font-weight: bold;

  padding: 1rem;
}

@media screen and (max-width: 890px) {
  .container {
    width: max-width;
  }
}
